# Byte-compiled / optimized Python files
__pycache__/
*.pyc

# Caches
*.pyc
__pycache__/
.cache/
dist/
build/
*.egg-info/
*.egg

# Virtual Environments
venv/
ENV/

# Environment variables
.env

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Software logs
termGPT.log
